body{
    background-color: rgb(135, 144, 89);
    height: 80vh;
    margin: 0%;
}
nav{
    margin: 5%;
    font-size: 520%;

}
.jav{
    padding-left: 7%;
    color: azure;
}
.a1{
    text-align: center;
}

.for{
    font-size: 400%;
}
.b1{
    text-align: center;
    padding-right: 10%;

}

.button1{
       font-size: 210%; 
       padding: 15px 32px;
       border-radius: 12px;  
}
.button1:hover{
    background-color: rgb(23, 194, 194);
}

